body {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em; 

    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-color: inherit;
}
#logoH2 {
    font-size: 2em;
    color : black;
}
#logoSpan {
    color : #06d6a0;
}
#suggestionsButton {
    color : #100007;
    background-color: inherit;
    border : 2px solid #100007;

    padding: 0.5em;
    border-radius: 0.5em;
}
#mainSearch {
    width: 50em;
    height: 2.25em;

    border: 2px solid #100007;
    border-radius: 0.5em;

    margin: 0em 2em;
    padding: 0em 0.5em;
}
#mainSearch:focus, #suggestionsButton:active {
    outline : none;
    border-color: #06d6a0;
}

#carouselHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.carousel {
    align-self: center;
    width: 20em;
}

.generaSelectionContainer {
    display: flex;
    justify-content: space-around;

    background-color: #06d6a0;
    padding: 0.5em;
}
.generasButton {
    border: 1px solid #100007;
    border-radius: 0.5em;

    background-color: white;

    padding: 0.25em 1em;
}

.selectedGenera {
    color : purple;
    border-color: purple;
}

@media (max-width: 500px) {
    #suggestionsButton {
        display: none;
    }

}