body {
    font-family: 'Roboto', sans-serif;

    background-color: #323031;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em; 

    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-color: inherit;
    color : white
}
#logoH2 {
    font-size: 2em;
}
#logoSpan {
    color : #06d6a0;
}
#suggestionsButton {
    color : white;
    background-color: inherit;
    border : 2px solid white;

    padding: 0.5em;
    border-radius: 0.5em;
}
#mainSearch {
    width: 50em;
    height: 2.25em;

    border: 2px solid #100007;
    border-radius: 0.5em;

    margin: 0em 2em;
    padding: 0em 0.5em;
}
#mainSearch:focus, #suggestionsButton:active {
    outline : none;
    border-color: #06d6a0;
}

#carouselHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.carousel {
    align-self: center;
    width: 20em;
}

.generaSelectionContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    background-color: #06d6a0;
    padding: 1em 0.5em;
}
.generasButton {
    border: 3px solid white;
    border-radius: 0.5em;

    background-color: white;

    padding: 0.5em 1.5em;
    margin: 1em;
}

.selectedGenera {
    color : purple;
    border-color: purple;
}

.movieGenera {
    text-align: center;
    color: white;

    padding: 1em 0em;

    font-size: 1.25em;
}

#moviesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#moviesContainer img {
    width: 10em;
    height: 15em;
    margin: 0.5em 0.5em;
}

.generaMovie:hover {
    box-shadow: 0px 0px 15px #06d6a0;
}

#loadMoreContainer {
    display: flex;
    justify-content: center;
}
#loadMoreButton {
    background: none;
    color: white;
    border: 2px solid #06d6a0;
    border-radius: 0.5em;
    padding: 0.25em 0.5em;
    margin: 0.5em;

    font-size: 1.5em;
}
#loadMoreButton:hover {
    color: #06d6a0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#modalTitle {
    margin: 1em 0em;
    font-weight: bold;
}

#modalImage {
    width: 100px;
}

@media (max-width: 700px) {
    #topRatedMovies {
        display: none;
    }

    nav {
        font-size: 0.75em;
    }
}

@media (max-width: 1800px) {
    #loadMoreButton {
        display: none;
    }
}