<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WatchON - Test</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cssreset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeStyles.css') }}">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav>

        <form action="/search" method="POST" target="_blank">
            <a href="/">
                <h2 class="logoMain" id="logoH2">Watch<span id="logoSpan">ON</span></h2>
            </a>
            <input placeholder="Search" id="mainSearch" name="search">
        </form>
    </nav>

    <main>
        <div id="carouselHolder">
            <section id="popularMovies">
                <div>
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" id="popular">
                            <!-- carousel items added in as API is called -->
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <h3 class="movieGenera">Popular Movies</h3>
            </section>

            <section id="topRatedMovies">
                <div>
                    <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" id="top_rated">
                            <!-- carousel items added in as API is called -->
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <h3 class="movieGenera">Top Rated Movies</h3>
            </section>
        </div>

        <div class="generaSelectionContainer">
            <button class="generasButton selectedGenera" id="actionGeneraButton" aria-label="28">Action</button>
            <button class="generasButton" id="comedyGeneraButton" aria-label="35">Comedy</button>
            <button class="generasButton" id="horrorGeneraButton" aria-label="27">Horror</button>
            <button class="generasButton" id="romanceGeneraButton" aria-label="10749">Romance</button>
            <button class="generasButton" id="historyGeneraButton" aria-label="36">Historical</button>
            <button class="generasButton" id="scienceFictionGeneraButton" aria-label="878">Science Fiction</button>
            <button class="generasButton" id="documentaryGeneraButton" aria-label="99">Documentary</button>
        </div>

        <section id="moviesContainer">
            <!-- Movies based on genera added as API is called -->
        </section>

        <div id="loadMoreContainer">
            <button id="loadMoreButton">More</button>
        </div>

        <!-- Movie Info Modal -->
        <div id="myModal" class="modal infoModal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <img id="modalImage" src="">
                <span class="modalTitle">Some text in the Modal..</span>
                <p class="releaseDate">Release Date</p>
                <p class="modalDescription"></p>
                <a class="trailer" target="_blank">Trailer</a>
                <a class="watchLink" target="_blank">Watch Now</a>

                <div id="providersContainer">

                </div>

                <div class="reviewsContainer">
                    <details>
                        <summary>Reviews</summary>
                        <ul class="reviewsUL">

                        </ul>
                    </details>
                </div>

                <div class="castContainer">
                    <details>
                        <summary>Cast</summary>
                        <ul class="castUL">

                        </ul>
                    </details>
                </div>
            </div>

        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <script type = "module" src="{{url_for('static', filename='js/moviesClass.js')}}"></script>
    <script type = "module" src="{{url_for('static', filename='js/app.js')}}"></script>

</body>

</html>